[submodule "app/wfbngrtl8812/src/main/cpp/wfb-ng"]
	path = app/wfbngrtl8812/src/main/cpp/wfb-ng
	url = https://github.com/svpcom/wfb-ng.git
	branch = master

[submodule "app/mavlink/src/main/cpp/mavlink-router"]
	path = app/mavlink/src/main/cpp/mavlink-router
	url = https://github.com/mavlink-router/mavlink-router.git
